#uitkomst {
    font-size: 1.5em;
    font-weight: bold;
}

#eigenberekening {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    top: 610px;
    left: 460px;
    position: absolute;
}
body {
    background-color: rgb(34, 34, 34);

}
#inputs {
    box-shadow: 2px 2px 24px rgb(255, 255, 255);
    text-align: center;
    color: rgb(38, 136, 139);
    margin-left:  29%;
    margin-right: 32%;
    padding-right: 1%;
    margin-top: 10%;
    height: 350px;
    border-radius: 5%;
    
}
input, textarea {
    background-color: rgba(255, 255, 255, 0) ;
    box-shadow: 1px 1px 2px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#knop1 {
    margin-left: 510px;
    top: -90px;
}

#knop2 {
    margin-left: 65px;
    top: -90px;
}

#knop3 {
    margin-left: 60px;
    top: -90px;
}

#knop4 {
    margin-left: 60px;
    top: -90px;
}

#uitkomst {
    color: rgb(43, 142, 137);
    position:absolute;
    left: 460px;
    top: 548px;
}

.knopje {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.knopje:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-knopje 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-knopje {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.knopje:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#navbar {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    position: absolute;
    padding-bottom: 50px;
    width: 99%;
    color: white;
    
    
}
.img-fluid {
    max-width: 150px;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}